*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #D0DEEB;
}

.logo {
    width: 10%;
}

.header-nav h3 {
    font-weight: 500; 
}

.header-nav .nav-link {
    font-size: 135%; 
    font-weight: 200;
}

.bi-person-fill {
    font-size: 220%;

}

body{
    background-color: #FFFFF0 !important; 
    font-family: 'Nunito', sans-serif;
}

form {
    width: 50%;
    background-color: #D0DEEB;
    padding: 45px;
    border-radius: 15px;
    margin-top: 4vh;
    

}

.btn-secondary{
    width: 100%;
    border-radius: 50px;


}

form p{
    padding: 8px;
}


form a{
    text-decoration: none;
    margin-top: 5px;
    color: black;
}

form a:hover{
    color: rgb(94, 135, 163);
}
